*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#mychart{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    border-radius: 30px;
}

.container{
    background-image: url("assets/mathew-schwartz-sb7RUrRMaC4-unsplash\ \(2\).jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header{
    width: 50%;
    color: white;
    margin: 0 auto;
    padding-top: 30px;
}

header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.container-1{
    color: white;
    text-align: center;
    padding: 30px;
}